.root{
-fx-background-color:lightGreen;
}

.table-view .table-row-cell:selected{
 	-fx-font-weight:bold;	
 	-fx-font-size:130%;	
 	-fx-text-fill: #006464;
}

.table-view .table-row-cell:selected .text {
       -fx-fill: red ;

}